* {
	box-sizing: border-box;
}

body {
	background-color: rgb(230,230,255);
}

h1 {
	width: 500px;
	border: 5px solid blue;
	padding:5px;
	margin: 40px, 20px, 40px, 40px;
	font-family: 'Tilt Prism', cursive;
	font-size:52px;
}

h2 {
	font-family: 'Tilt Prism', cursive;
	font-size:32px;
}

img {
	float:top;
}

h2 {
		color: green;
}